@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url("../font/idroid.otf") format("opentype");
   
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none; 
    list-style: none;   
}

:root{
   /* Falta criar as váriaveis e atribuir uma cor a ela */
    --corFundo: #84E1AD
    
    
    
}
html{
    font-size: 62.5%;
    
}
body{
    
    background-color: var(--corFundo);  
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: linear-gradient( to bottom, #3CD983 , #124027);
    height: 220px;
    color: #fff;   
}
header div{
    height: 160px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;   
}
header h1{ 
    font-size: 3.5rem;
    text-transform: uppercase;
    text-shadow: 2px 2px #00000080;
    font-weight: 600;
    margin-top: 30px;
    letter-spacing: -2px;
      
}
header p{
    width: 600px;
    margin: auto;
    font-size: 1.9rem;
    letter-spacing: 1px; 
    text-align: justify;
}
header nav{
    margin-top: 35px;
    display: inline-block;
}
header nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center; 
}
header nav ul li{
    margin: 0px 10px;
    padding-left: 5px;
}
nav ul li a{
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;
}
nav ul li a:hover{
    color: #32443a;
    transition: 300ms;
    background-color: #3CD983;
    font-size: 1.9rem;
    border-radius: 3px;
    padding: 2px;
}
/* Aqui termina o header */
main{
    max-width: 1080px;
    background-color: #fff;
    margin: auto;
    padding: 20px 0px;
    align-items: center ;
}
main p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: normal;
    margin:20px 0px 0px 10px;
    padding: 5px 5px;
    text-indent: 20px;
}
main section{
    margin: auto;
    width: 98%;

}

main section.fisrtSection div.block1 h2{
    font-family: "idroid" ;
    font-size: 2.8rem;
    padding: 0px 10px ;
    color: #185A36;
}
main section.fisrtSection div.block2 h3{
    
    font-family: "idroid" ;
    font-size: 2rem;
    margin:20px 0px 0px 10px;
    padding: 2px 2px;
    color: #185A36;
    background-image: linear-gradient(to right,#b5e7cca2, #fff );     
}
main section.fisrtSection div.block3{
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to right,#b5e7cca2, #fff );
}
main section.fisrtSection p.firstVersion{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: normal;
    margin:20px 0px 0px 10px;
    text-indent: 20px; 
}
main section.secondSection div.block4 h3{
    font-family: "idroid" ;
    font-size: 2rem;
    margin:20px 0px 0px 10px;
    padding: 2px 2px;
    color: #185A36;
    background-image: linear-gradient(to right,#b5e7cca2, #fff );      
}
main section.secondSection div.block5 {
    margin-top: 20px;
}
main section.secondSection div.block5 img{
    width: 100%;
}
main section.secondSection div.block6 div.block-imgBugdroid{
    text-align: center; 
}

main div.video{
    margin-top: 20px;
    height: 450px;
    background-color: #185A36;
    text-align: center;
    padding: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main div.video iframe{
    width: 100%;
    height: 100%;
    border-radius: 2px;
    
}
main .thirdSection article{
    margin-top: 15px;
    background-color: #C5EBD6;
}
main .thirdSection article.version h2{
    font-size: 1.8rem;
    background-color: #2FA866;
    padding: 10px 10px;
    color: #fff;   
}
main .thirdSection article.version p.paragraphArticle{
    margin: 0px -10px;
    font-size: 1.3rem;
    margin-top: 10px;

}

main section.thirdSection article.version div.colun ul.lists{
    font-size: 1.6rem;
    column-count: 2;
    
    background-color: red;
}
main section.thirdSection article.version div.colun ul.lists li::before{
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
}




