@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;    
}
:root{
   /* Falta criar as váriaveis e atribuir uma cor a ela */
    --corFundo: #84E1AD
    
    
    
}
@font-face {
    font-family: 'idroid';
    src: url("../font/idroid.otf") format(".otf ");
    
}
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: var(--corFundo);  
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: linear-gradient( to top, #1A5C38 , #379b62);
    height: 120px;
    
}
header h1{
    width: 31rem;
    text-align: center;
    margin: auto;
    color: #fff;
    font-family: 'idroid';
    font-size: 2.6rem;

}
nav{
    display: flex;
}